### Data types

In [1]:
a = 25

In [2]:
print(a)

25

In [3]:
a = 100

In [4]:
print (a)

100

In [6]:
# Integer
a = 150
print (a)
print (type(a))

150
<class 'int'>

In [7]:
# Float
a = 150.88
print (a)
print (type (a))

150.88
<class 'float'>

In [9]:
# string
a = 'data science'
print (a)
print (type (a))

data science
<class 'str'>

## Variables_Rules

In [10]:
12a = 150 # Variable should not start with a number

SyntaxError: invalid decimal literal (4035633343.py, line 1)

In [11]:
# if you want to start a variable with number means useunderscore_

_12a = 50
print (_12a)

50

In [14]:
# No space in variables: if you want to connect them use underscore_

Sharuk_khan_age = 60
print(Sharuk_khan_age)

60

In [15]:
# Case sensitive: [Python is a case sensitive language]
# Variable is case sensitive:
a = 100
print(A)

NameError: name 'A' is not defined

In [17]:
# Dont use these ['!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'] symbols as a variable
$ = 100

SyntaxError: invalid syntax (83097066.py, line 2)

In [18]:
a, b, c = 10, 20.5 , 'data science'

In [19]:
print (a)

10

In [20]:
print(b)

20.5

In [21]:
print (c)

data science

In [22]:
print (a , b, c)

10 20.5 data science

In [23]:
print(abc)

NameError: name 'abc' is not defined

In [24]:
a = 10
b = a
print (b)
print (a)

10
10

### Deep dive into print condition:

In [25]:
print ('Datascience')

Datascience

In [26]:
# we can use '', "", """ """ in python version 3:
print ('Datascience is very popular in 21st centuary')

Datascience is very popular in 21st centuary

In [27]:
print ("Datascience is very popular in 21st centuary")

Datascience is very popular in 21st centuary

In [33]:
# connect variable with print condition:

# comma: will connect text inside code ' ' and variables:
# comma is going to provide 1 tab space for you:
age = 26
print ('My age is =',age)

My age is = 26

In [35]:
course = 'datascience'
place = 'topmentor'
access = 'online'

# output = I am learning data science from top mentor in online
print ('I am learning' ,course,'from' ,place,'in', access)

I am learning datascience from topmentor in online

##### Data_type conversion

In [44]:
# convert int to float
a = 12
print (type (a))
b = float(a)  # value 12 converting to float and saving in variable b now b will bw 12.0
print(b)
print (type(b))
print ('Float value =', b)

<class 'int'>
12.0
<class 'float'>
Float value = 12.0

In [48]:
# Float to integer:
a = 25.8
print(a)
print(type(a))
b = int(a) # value 25.8 converting to int and saving in variable b now b will be 25
print (b)
print (type(b))

25.8
<class 'float'>
25
<class 'int'>

In [50]:
# int and float to string:
a = 20
b = str(a)
print(b)
print (type(b))

20
<class 'str'>

In [53]:
# string to int and float:
# string can be converted to int when there is only numbers not text

a = '20'
print(type(a))
b= int(a)
print (type(b))
print (b)

<class 'str'>
<class 'int'>
20

## Type conversion

In [55]:
## [+] : using plus we can add text inside the '' with variables but variable should be string

# can only concatenate str (not 'int') to str : [adding]
age = 26

print ('My age is'+age)

TypeError: can only concatenate str (not "int") to str

In [60]:
age = 26
print ('My age is '+str(age))

My age is 26

In [81]:
salary = 100.2
spend =20
course = 'Udemy'

# output : I got 100.2 rs salary and learning a course in udemy which charges 20 rs per day

print('I got'+' '+str(salary)+' '+'rs salary and learning a course in'+' '+course+' '+'which charges'+' '+str(spend)+' '+'rs per day')

I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day

In [82]:
# % [Not to use because cunsumes lot of space in memory not good in real time]

#int = %d
#float = %f
#string = %s

age = 26
print ('My age is %d'%(age))

My age is 26

In [87]:
course = 'Datascience'
cost = 10
spend = 34.2

# output - I am learning datascience with 10 rs and spend 34.2 rs 

print ('I am learning %s with %d rs and spend %f rs'%(course,cost,spend))

print(f'I am learning {course} with {cost} rs and spend {spend} rs')

I am learning Datascience with 10 rs and spend 34.200000 rs
I am learning Datascience with 10 rs and spend 34.2 rs

In [85]:
# Important [using f''--> formating technique]

age = 26

print(f'My age is {age}')

My age is 26

In [89]:
# . format technique

age = 26
print('My age is {}' .format(age))

My age is 26

In [94]:
course = 'Datascience'
cost = 10
spend = 34.2
# output - I am learning datascience with 10 rs and spend 34.2 rs 

print('I am learning {} with {} rs and spend {} rs' .format (course,cost,spend))

I am learning Datascience with 10 rs and spend 34.2 rs

### Operators

In [95]:
# +,-,*,/,//,%,pow,=,==,!=,<,>,<=,>=

In [96]:
a = 10
b = 20
print (a+b)

30

In [97]:
a = 10
b = 20
print (a-b)

-10

In [98]:
a = 10
b = 20
print (a*b) # * --> multiplication

200

In [99]:
a = 10
b = 20
print (a/b) # / --> division

0.5

In [100]:
# floor division means remove decimals
a = 10
b = 20
print (a//b)

0

In [101]:
# % -> function takes reminder as output

a = 23
b = 5
print(a % b)

3

In [102]:
# pow means power function
pow(2,3)

8

In [108]:
pow(3,3)

27

In [107]:
pow(3,3,5)

2

In [ ]:
# = : right side value will be given to left side:
a = 10
b = a

In [109]:
# == : will return boolean outcome

10 == 10

True

In [110]:
8 == 10

False

In [111]:
# != : returns boolean value

10!=5

True

In [112]:
10> 11

False

In [113]:
# >= and <=

10 > 10

False

In [114]:
10>=10

True