## MAP , FILTER AND REDUCE

In [20]:
# use to reduce the time for the user:

In [23]:
# find the even numbers between 1 to 10:

for i in range(1,11):
    if i % 2 == 0:
        print(i , end = ' ')

2 4 6 8 10

In [28]:
# find the even numbers between 1 to 10 using functions:
def even_and_odd(): 
    for i in range(1,11):
        if i % 2 == 0:
            print(i , end = ' ')
even_and_odd() # calling the function

2 4 6 8 10

In [29]:
# map = reduces work means there is no need of loops [everything taken care by map]
# map = syntax (function , arguments)

In [31]:
# finding the keywords in python:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
# since map and filter are two things working for loops the solution is saved in memory

In [12]:
# if condition not satisfies map function will returns none

In [10]:
def map_fun(number):
    if number % 2 == 0:
        return number

In [11]:
# map(function_name , values)
a = [10,22,33,67,98,11,3,5,2,8] # some values
sol = map(map_fun , [10,22,33,67,98,11,3,5,2,8])
print(list(sol))

[10, 22, None, None, 98, None, None, None, 2, 8]

In [38]:
# <map object at 0x00000233F60700A0> this means memory location

In [13]:
# find even and odd:

values = []
for i in range(1,21):
    values.append(i)
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
def map_fun(number):
    if number % 2 == 0:
        return 'even' , number
    else:
        return 'odd' , number

In [15]:
sol = map(map_fun , values)
print(list(sol))

[('odd', 1), ('even', 2), ('odd', 3), ('even', 4), ('odd', 5), ('even', 6), ('odd', 7), ('even', 8), ('odd', 9), ('even', 10), ('odd', 11), ('even', 12), ('odd', 13), ('even', 14), ('odd', 15), ('even', 16), ('odd', 17), ('even', 18), ('odd', 19), ('even', 20)]

In [16]:
# lambda with map
a = [10,20,30,40]
sol = list(map(lambda x : x + 10 , a))
print(sol)

[20, 30, 40, 50]

In [17]:
a = [10,20,30,40]
sol = list(map(lambda x : x > 10 , a))
print(sol)

[False, True, True, True]

In [18]:
# filter function:
# for map and filter small difference is map gives none if satisfies but filter will not take into consideration

In [2]:
def map_fun(number):
    if number % 2 == 0:
        return number

In [3]:
# filter(function_name , values)

a = [10,22,33,67,98,11,3,5,2,8] # some values
sol = filter(map_fun , [10,22,33,67,98,11,3,5,2,8])
print(list(sol)) # list keywords

[10, 22, 98, 2, 8]

In [6]:
# lambda with filter: filter takes only conditions and not math operations
a = [10,20,30,40]
sol = list(filter(lambda x : x - 10 , a))
print(sol)

[20, 30, 40]

In [5]:
a = [10,20,30,40]
sol = list(filter(lambda x : x > 10 , a))
print(sol)

[20, 30, 40]

In [7]:
# in real time these functions are really time consuming process:

In [1]:
# Reduce function:

from functools import reduce

In [3]:
sol = reduce(lambda x , y : x + y , [10,20,30,40,50])
print(sol)

150

In [5]:
# filter with map:

a = [11,22,33,44,55,66,77,88,90]
sol = map(lambda x : x + 10 , filter(lambda x : x > 50 , a))
print(list(sol))

[65, 76, 87, 98, 100]

In [7]:
# map with filter
a = [11,22,33,44,55,66,77,88,90]
sol = filter(lambda x : x % 2 == 0 , map(lambda x : x + 10 , a))
print(list(sol))

[32, 54, 76, 98, 100]

In [8]:
a = [10,11,12,13]
sol = filter(lambda x : x % 2 == 0 , map(lambda x : x + 10 , a))
print(list(sol))

[20, 22]

In [15]:
# reduce with map and filter:

a = [10,11,12,13]

sol = reduce(lambda x , y : x + y , filter(lambda x : x > 20 , map(lambda x : x+ 10 , a)))
print(sol)

66

## Comprehension techniques  ***

- List comprehension
- Dictionary comprehension

In [1]:
# comprehension techniques is used for reduce the lines of code
# we can work with only list and dictionaries

In [10]:
# print(20 times good morning)

for i in range(1,21): 
    print('good morning' , end = '')

good morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morning

In [11]:
print('good morning'* 20)

good morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morning

## list comprehension

In [13]:
sol = [i for i in range(1,21)]    # [result logic place]
print(sol)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
print(['good morning' for i in range(1,21)])

['good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning']

In [16]:
# find the even numbers from 51 - 61
# pure python code
for i in range (51,61):
    if i % 2 == 0:
        print(i, end = ' ')

52 54 56 58 60

In [17]:
# using comprehension
# using only for loop means syntax will be [resultfor loop]
# but when you are using for loop and if condition the syntax will be [result, for loop, if condition]
# 1
sol = [i for i in range(51,61) if i % 2 == 0 ]
print(sol)

[52, 54, 56, 58, 60]

In [20]:
# 2
print([i for i in range(51,61) if i % 2 == 0])

[52, 54, 56, 58, 60]

In [22]:
# find even and odd using normal python code:

for i in range (51,61):
    if i % 2 == 0:
        print('even',i, end = ' ')
    else:
        print ('odd', i , end =' ')

odd 51 even 52 odd 53 even 54 odd 55 even 56 odd 57 even 58 odd 59 even 60

In [23]:
# will make in single line:
# syntax: if we are using for loop if and else
# [result , if condition , else condition and for loop]

In [26]:
sol = ['even'if i % 2 == 0 else 'odd' for i in range(51,61)]
print(sol)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [28]:
sol = ['even ' + str(i)if i % 2 == 0 else 'odd '+ str(i) for i in range(51,61)]
print(sol)

['odd 51', 'even 52', 'odd 53', 'even 54', 'odd 55', 'even 56', 'odd 57', 'even 58', 'odd 59', 'even 60']

### then what about dictionary comprehension

In [30]:
def fun(a):
    if a > 10:
        print(a)
fun(20)

20

In [31]:
fun(30)

30

In [32]:
# cannot have reusability in comprehension , map, filter

In [34]:
# same syntax as list comprehension:
# using normal pyhton add value 20 to each key
fruits = {'apple' : 100 , 'banana' : 45}

for i in fruits:
    fruits[i] = fruits[i]+20
print(fruits)

{'apple': 120, 'banana': 65}

In [36]:
fruits['apple']

120

In [41]:
# do it with comprehension:
# syntax if only for loop
# {result , for loop}

fruits = {'apple' : 100 , 'banana' : 45}
sol = {i:j+20 for i , j in fruits.items()}
print(sol)

{'apple': 120, 'banana': 65}

In [45]:
# for loop with if and else:

fruits: {'apple': 100 , 'banana':45}

sol = {i : ('pass' if j> 60 else 'fail')for i,j in fruits.items()}
print(sol)

{'apple': 'pass', 'banana': 'fail'}

In [54]:
def math_operation(values):
    c = []
    for i in values:
        if i > 15:
            c.append(i)
    return c

In [55]:
math_operation([10,20,30,40])

[20, 30, 40]

In [56]:
math_operation([12,13,14,15,16,17])

[16, 17]

In [57]:
# modularisation - will write functions in one particular file and import while doing operations
# should be added in same folder(same path)

In [59]:
# 1.Take two integer numbers and return their product. 
# if the product is greater than 1000, then return their sum , 
# if the product is  lesser then 1000 return the product only

a = 10
b = 20
product = a * b
if product > 1000:
    print(a + b)
else:
    print(product)

200

In [61]:
a = 1000
b = 2000
product = a * b
if product > 1000:
    print(a + b)
else:
    print(product)

3000

In [62]:
# 2. Given a range of the first 10 numbers, 
# Iterate from the start number to the end number , 
# and In each iteration print the sum of the current number and previous number

In [70]:
previous_number = 0
for i in range (10):
    print('current number', i , 'previous number', previous_number , 'sum :', (i+previous_number))
    previous_number=i

current number 0 previous number 0 sum : 0
current number 1 previous number 0 sum : 1
current number 2 previous number 1 sum : 3
current number 3 previous number 2 sum : 5
current number 4 previous number 3 sum : 7
current number 5 previous number 4 sum : 9
current number 6 previous number 5 sum : 11
current number 7 previous number 6 sum : 13
current number 8 previous number 7 sum : 15
current number 9 previous number 8 sum : 17

In [71]:
# 3. Given a string and an integer number n , 
# remove characters from a string starting from zero up to the n 
# and return a new string

In [72]:
a = 'pynative'
n = 4
print(a[n:])

tive

In [73]:
# 4. Given a list of numbers , 
# return True if first and last number of a list is same

In [79]:
a = [10,20,30,40,50]
if a[0] == a[-1]:
    print(True)
else:
    print(False)

False

In [80]:
a = [10,20,30,40,10]
if a[0] == a[-1]:
    print(True)
else:
    print(False)

True

In [82]:
# 5 . Give two python list. 
# Iterate both lists simultaneously such that list1 should display item 
# in original order and list2 in reverse order

# list1 = [10,20,30,40]
# list2 = [100,200,300,400]

In [88]:
list1 = [10,20,30,40]
list2 = [100,200,300,400]

for i,j in zip(list1, list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

In [89]:
# 6.Remove empty strings from the list of strings

# list1 = ['Mike','','Emma','Kelly','','Brad']

In [98]:
list1 = ['Mike','','Emma','Kelly','','Brad']
result = []
for i in list1:
    if i == '':
        pass
    else:
        result.append(i)
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']