### Python Functions

- Function means executing the logic many times but writing the logic only one time:

- syntax for python function:
- 
        - refers with keyword def
        - inside write the logic
        - call from anywhere

In [4]:
# find addition of 2 numbers without function:
a = 10
b = 20

print(a+b)

30

In [5]:
a = 40
b = 50

print(a+b)

90

In [6]:
a = 100
b = 200

print(a+b)

300

In [7]:
# to make it easy and code reusability:
# reusability = means use the code many times but write the code only one time

In [8]:
# create a function and write the logic only one time but i can use it many times

In [9]:
# addition of 2 numbers using function:

In [10]:
def rahul():
    print('I am staying in delhi')

In [11]:
rahul() # i am calling a function nae rahul

I am staying in delhi

In [1]:
def rahul():
    print(c+d)

In [2]:
c = 200
d = 300
rahul()

500

In [3]:
# Now lets write the code:

In [8]:
def kiran(a1 , b1): # now a1 is 10 and b1 is 20
    print(a1 + b1)

In [9]:
kiran(10,20)

30

In [10]:
# again i will call 
kiran(100 , 200)

300

In [11]:
kiran(1000,2000)

3000

In [15]:
# let's explore more examples

c = 30
d = 100
kiran(c,d) # (30,100)

130

In [19]:
a = 'python '
b  = 'data science'
print(a + b)

python data science

In [21]:
kiran(a,b) # calling functions

python data science

In [22]:
# find the evn numbers and odd numbers from 1 to 20 using functions:

In [29]:
def even_and_odd(starting , ending):
    for i in range(starting, ending):
        if i % 2 == 0:
            print(i, 'even')
        else:
            print(i, 'odd')

In [30]:
even_and_odd(1,21)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [31]:
# pls check the function while passing parameters

In [32]:
def palindrome(number):
    temp = number
    count = 0
    while number > 0:
        res = number % 10
        count = (count * 10) + res
        number = number // 10
        if temp == count:
            print(count , 'It is a Palindrome number')
        else:
            print(count , 'Not a Palindrome number')

In [33]:
palindrome(121)

1 Not a Palindrome number
12 Not a Palindrome number
121 It is a Palindrome number

In [34]:
palindrome(541)

1 Not a Palindrome number
14 Not a Palindrome number
145 Not a Palindrome number

In [35]:
def add (value = 200):
    print(value)

In [36]:
value = 100
add(value)

100

In [37]:
# few more examples:

def examination(physics=1000,social=2000,maths=3000):
    print(physics,maths,social)

In [40]:
physics=40
maths=60
social=70
examination(physics, maths , social)

40 60 70

In [39]:
# def <function_name>(parameters or attributes)

In [41]:
# return keyword: To let a function return a value, use the return statement:

In [42]:
def square(number):
    print(number*number)

In [43]:
square(5)

25

In [46]:
# return
def square(number):
    return number*number

In [47]:
square(5)

25

In [48]:
# the difference is if you use print you can use the value generated by function further:
# but with return i can use the value

In [49]:
def square(number):
    print(number*number)

In [50]:
square(5)

25

In [52]:
# using return : can use the result:
def square(number):
    return number*number

In [56]:
sol = square(5)
print(sol)

25

In [57]:
if sol % 2 == 0:
    print('even')
else:
    print('odd')

odd

In [67]:
# return with multiple parameters
# square and add
def square(a,b):
    value1 = a*a
    value2 = b*b
    return value1,value2

In [68]:
first , second = square(10 ,20)

In [69]:
print(first)

100

In [70]:
print(second)

400

In [71]:
print(first+second)

500

In [78]:
div = second // first # 400/100 =100)400(4
                               #    400
                                #  ------
                               #     0

In [79]:
print(div)

4

In [1]:
# will take a list of values and will find out values divisible by 2 and 3 and later add them

In [12]:
def use_case(a):
    count_2 = 0
    count_3 = 0
    for i in a:
        if i % 2 == 0:
            count_2 = count_2 + i 

    for j in a:
        if j % 3 == 0:
            count_3 = count_3 + j

    return count_2 , count_3

In [13]:
a = [1,2,3,4,5,6,7,100,87,55,54,23,22,44]
sol_1 , sol_2 = use_case(a)
print(sol_1+sol_2)

382

In [14]:
a = [10,20,30,40,50,40,40,60,70]
sol_1 , sol_2 = use_case(a)
print(sol_1+sol_2)

450

In [15]:
# find the count of each of character in ur name using functions and output should be in dictionary

In [3]:
def exercise(a):
    empty_dict = {}
    for i in a:
        if i in empty_dict.keys():
            empty_dict[i] = empty_dict[i] + 1
        else:
           
            empty_dict[i] = 1 
        
    return empty_dict

In [4]:
a = 'mohana priya'
result = exercise(a)
print(result)

{'m': 1, 'o': 1, 'h': 1, 'a': 3, 'n': 1, ' ': 1, 'p': 1, 'r': 1, 'i': 1, 'y': 1}

In [6]:
# not and or in: keywords

In [8]:
a = 'kamal'
print('m' not in a)

False

In [9]:
# and means both conditions should be true
# or means one satisfies means ok

In [10]:
# find the numbers which are divisible by 2 and 3 from 1 to 10

In [14]:
for i in range(1,11):
    if i % 2 == 0 or i % 3 == 0:
        print(i)

2
3
4
6
8
9
10

In [15]:
for i in range(1,11):
    if i % 2 == 0 and i % 3 == 0:
        print(i)

6

In [16]:
# from 12 to 51 find the numbers which are divisible by 3 and 5
# output = 15 , 30 , 45

In [17]:
for i in range(12 ,51):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

15
30
45

### LAMBDA FUNCTIONS

In [18]:
# for normal function we will use function name
# but lambda function has no function name
#lambda function is an anonymous function [anonymous function: means there will be no function name]
# lambda function syntax will be [lambda arguments : exprtessions]
# both function and lambda function is same but lambda function has no function name and we need to write code in single line which is very difficult
# official documentation: python lambda documentation

In [20]:
sol = lambda x , y : x + y

a = 10 
b = 20
sol(a,b)

30

In [21]:
# find the cube of number

In [22]:
sol = lambda x : x * x * x
number = 5
sol(number)

125

In [1]:
Minimum = lambda x , y : x if (x < y) else y

print(Minimum(35 , 74))

35

In [2]:
# write 2 table using functions and lambda functions:

In [12]:
# functions:

def table(number):
    for i in range(1,11):
        print(number,'*', i , '=', number * i)

In [13]:
table(number = 2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
# same but use lambda function:
sol = lambda x,y : x*y

number = 2
for i in range(1,11):
    print(number, '*',i,'=',sol(number,i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20