## Python - Sets

In [1]:
# sets are mutable:
# sets can be represented with {} -> flower bracket
# sets can accept any data type:

In [16]:
a = {10,45.5,'data'}
print(a)
print(type(a))

{10, 45.5, 'data'}
<class 'set'>

In [11]:
# if data structure is mutable :
# prove add data, 
# insert data at any space, 
# delete data space, 
# update space

In [12]:
# adding the data to memory space:

In [18]:
# using add method we can add the data:
a.add(1000)

In [19]:
print(a)

{1000, 10, 45.5, 'data'}

In [22]:
a.add('python')
print(a)

{1000, 10, 45.5, 'python', 'data'}

In [1]:
# important:

# sets are unordered pairs : which means once we are specifying the values we cant guess where they are going to allocate
# it might add anywhere but memory sp[ace is increasing: adding the value is possible

In [2]:
a = {100, 8.9, 'data science'} # check the input and decide the index:
print (a)

{8.9, 'data science', 100}

In [3]:
# since memory is allocated rrandomly let's see can we access the value using the index:
print(a[2])
# from here we can say sets are random in memory space so we cant access them using index:

TypeError: 'set' object is not subscriptable

In [4]:
# can we add the value where ever we want:

a = {10,45.5,'data'}
print(a)

{10, 'data', 45.5}

In [5]:
a.update() # comes under union intersection and math stuff:

TypeError: 'int' object is not iterable

In [6]:
# deleting the memory space:
a = {10,45.5,'data'}
print(a)

{10, 'data', 45.5}

In [8]:
# deleting the memory space is possible using this three methods:


a = {}

In [7]:
# pop = randomly removes the value from the memory space
# discard = discard removes the value if present or else return same data variable, it is not going to show any error
# remove = remove is opposite to discard if value present remove ; if not raise an error

In [9]:
# pop:
a = {10,45.5,'data'}
print(a)

{10, 'data', 45.5}

In [10]:
a.pop() # randomly removes one value

10

In [11]:
print(a)

{'data', 45.5}

In [13]:
# what if set is empty:
a = {10,45.5,'python'}
a.clear()
print(a)

set()

In [15]:
# set() - this says empty set:
# on this empty data if i use pop :
a.pop() # since a is empty we are getting this issue

KeyError: 'pop from an empty set'

In [16]:
# discard

a = {10,45.5, 'data'}
print(a)

{10, 'data', 45.5}

In [18]:
a.discard('data science')

In [20]:
a.discard(45.5)

In [21]:
print(a)

{10, 'data'}

In [22]:
# remove

a = {10,45.5, 'data'}
print(a)

{10, 'data', 45.5}

In [23]:
a.remove('data science')

KeyError: 'data science'

In [24]:
a.remove(45.5)

In [25]:
print (a)

{10, 'data'}

In [26]:
### Sets remove duplicates :

In [27]:
a = {10,20,44.4,30,10,20,7.8,10}
print(a)

{20, 7.8, 10, 44.4, 30}

In [28]:
a = (10,20,30,10,20,30)
print(type(a))
print(a)

<class 'tuple'>
(10, 20, 30, 10, 20, 30)

In [35]:
# since sets are mutable but not going to accept mutable data structures, it can only accept immutable data structures

In [38]:
a = {'python' , (10,20,30) , 10, 5.5}
print(a)

{10, 'python', 5.5, (10, 20, 30)}

In [39]:
a = {'python' , [10,20,30] , 10, 5.5}
print(a)

TypeError: unhashable type: 'list'

In [40]:
# some methods in sets:

In [41]:
a = {10,45.5,'data'}
print(a)

{10, 'data', 45.5}

In [44]:
# copy = is used to copy to some other variables:
b = a.copy()
print(a)
print(b)

{10, 'data', 45.5}
{10, 'data', 45.5}

In [45]:
# union and intersection:

In [47]:
a = {10,20,30,40,50}
b = {50,60,70,80,90}

print(b.union(a))

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [48]:
a = {10,20,30,40,50}
b = {50,60,70,80,90}

print(a.intersection(b))

{50}

### Dictionary

In [1]:
# Dictionary is an mutable data type
# this is used to store the data as human does
# Dictionary will be represented with {} -> but using key value pair
# this data type is mostly used in most of the data bases:

In [2]:
a = {'kamal' : 'cv lead' , 'krishna' : 'ML Engineer'}
print(a)

{'kamal': 'cv lead', 'krishna': 'ML Engineer'}

In [3]:
a = {'kamal_shop' : ['hp','acer','dell'] , 'krishna_shop' : ['charger' , 'mobile phones']}
print(a)

{'kamal_shop': ['hp', 'acer', 'dell'], 'krishna_shop': ['charger', 'mobile phones']}

In [ ]:
# keys can be anything
# but keus should not be duplicate
# if you want to access values use its keys

In [4]:
fruits = {'apple' : 100 , 'banana' : 300 , 'carrot' : 40}
print(fruits)

{'apple': 100, 'banana': 300, 'carrot': 40}

In [5]:
fruits = {1 : 'python' , 2 : 'java' , 3 : '.net c#'}
print(fruits)

{1: 'python', 2: 'java', 3: '.net c#'}

In [7]:
# keys should not be duplicate
fruits = {'apple' : 100 , 'banana' : 300 , 'carrot' : 40 , 'apple' : 1000}
print(fruits)

{'apple': 1000, 'banana': 300, 'carrot': 40}

In [8]:
# indepth:

employees = {'ravi':1000 , 'krishna' : 2000 , 'sai' : 3000}
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000}

In [10]:
employees.keys()

dict_keys(['ravi', 'krishna', 'sai'])

In [11]:
employees.values()

dict_values([1000, 2000, 3000])

In [12]:
# pull out krishna's salary:
# if you want value use their key:
employees['krishna']

2000

In [13]:
employees = {'ravi':1000 , 'krishna' : 2000 , 'sai' : 3000 , 'kumar' : 3000}
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}

In [15]:
# get method is used to get data:
employees.get('ravi')

1000

In [16]:
employees = {'ravi':1000 , 'krishna' : 2000 , 'sai' : 3000 , 'kumar' : 3000}
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}

In [17]:
# clear : will clear entire data and remains empty:
employees.clear()

In [18]:
employees

{}

In [19]:
employees = {'ravi':1000 , 'krishna' : 2000 , 'sai' : 3000 , 'kumar' : 3000}
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}

In [20]:
# copy: copy from one variable to another variable:
b = employees.copy()
print(employees)
print(b)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}
{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}

In [21]:
employees = {'ravi':1000 , 'krishna' : 2000 , 'sai' : 3000 , 'kumar' : 3000}
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}

In [22]:
# items will give you combination of keys and values 
employees.keys()

dict_keys(['ravi', 'krishna', 'sai', 'kumar'])

In [24]:
employees.values()

dict_values([1000, 2000, 3000, 3000])

In [25]:
employees.items()

dict_items([('ravi', 1000), ('krishna', 2000), ('sai', 3000), ('kumar', 3000)])

In [28]:
# lets start whether dictionary is mutable or immutable?

In [29]:
# add, delete , update

In [30]:
# add
employees = {'ravi':1000 , 'krishna' : 2000 , 'sai' : 3000 , 'kumar' : 3000}
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000}

In [33]:
employees['kamal'] = 5000 # if key not there add key value and since we are playing with keys there is no need to add in specific location
# it might be add anywhere I can access with its keys

In [34]:
employees['kamal']

5000

In [35]:
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000, 'kamal': 5000}

In [36]:
# update : update the existing data:
employees

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 3000, 'kamal': 5000}

In [37]:
# i want to update salary of kumar from 3000 to 30,000
employees['kumar'] = 30000

In [38]:
employees

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 30000, 'kamal': 5000}

In [40]:
# using update method lets make 30000 to 0:
employees.update({'kumar':0})

In [41]:
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kumar': 0, 'kamal': 5000}

In [27]:
# pop = removes key what we have given
# pop items = will remove the last keys and its value
# del = normal python

In [43]:
# pop
employees.pop('kumar')

0

In [44]:
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000, 'kamal': 5000}

In [45]:
# pop items:
employees.popitem()

('kamal', 5000)

In [46]:
print(employees)

{'ravi': 1000, 'krishna': 2000, 'sai': 3000}

In [47]:
employees.popitem()

('sai', 3000)

In [48]:
print(employees)

{'ravi': 1000, 'krishna': 2000}

In [49]:

del employees['krishna']

In [50]:
print(employees)

{'ravi': 1000}

In [1]:
# from here we can say dictionary is immutable

In [4]:
employees = {'kamal' : 'zest'}
print(employees)

{'kamal': 'zest'}

In [9]:
employees.popitem()

('kamal', 'zest')

In [10]:
print(employees)

{}

In [12]:
employees['python'] = 'data'
print(employees)

{'python': 'data'}

In [13]:
## completed data types:
# strings , list , tuple, sets and dictionaries.

## Math package:

In [14]:
import math

In [15]:
math.sqrt(16)

4.0

In [16]:
math.log(1)

0.0

In [17]:
math.sin(45)

0.8509035245341184

In [18]:
math.tan(45)

1.6197751905438615

In [20]:
math.factorial(5) # this code is for factorial of 5

120

In [22]:
math.pi

3.141592653589793

In [23]:
math.e

2.718281828459045

In [25]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl.metadata (6.8 kB)
Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
   ---------------------------------------- 0.0/232.6 kB ? eta -:--:--
   - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
   ---------- ---------------------------- 61.4/232.6 kB 825.8 kB/s eta 0:00:01
   ----------------------------------- ---- 204.8/232.6 kB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 232.6/232.6 kB 1.8 MB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

In [26]:
import PyPDF2

In [27]:
# Any packages we can install and work on it

In [28]:
# os package = is used to work with system , path

In [29]:
import os

In [30]:
os.listdir() # current dir

['.ipynb_checkpoints',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb']

In [32]:
os.listdir('./') # current dir

['.ipynb_checkpoints',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb']

In [35]:
os.listdir('./../') # parent directory

['$RECYCLE.BIN',
 '.ipynb_checkpoints',
 'System Volume Information',
 'top mentor']

In [36]:
os.listdir('./../../') # sub root folders

['$RECYCLE.BIN',
 '.ipynb_checkpoints',
 'System Volume Information',
 'top mentor']

In [37]:
os.listdir('./../../../') # root folders

['$RECYCLE.BIN',
 '.ipynb_checkpoints',
 'System Volume Information',
 'top mentor']