In [1]:
# Forward direction index starts from 0:
# Backward direction index starts from -1:
a = 'datascience'

In [2]:
print(a[8])

n

In [3]:
print(a[4])

s

In [5]:
b = 'I am fine'
print(b[2])

a

In [7]:
c = 'python'

# in forward dir:
print(c[3])
# in backward dir:
print(c[-3])

h
h

## Slicing operation on strings with index concepts:

In [10]:
a = 'python'
print(a[1:5])

ytho

In [16]:
a = 'data science'
print(a[2:7])
print(a[-10:-5])
print(a[-6:-3])

ta sc
ta sc
cie

## Slicing and skipping concept:

In [17]:
a = 'python'
print(a[1:6:2])

yhn

In [18]:
a = 'data science'
print(a[1:11:2])

aasin

# Using slicing concept there are few fixed techniques:

In [19]:
a = 'rajinikanth'

print(a[:]) # -> means return entire string as it is:

rajinikanth

In [20]:
print(a[2:]) # means from 2nd index position to entire string

jinikanth

In [21]:
print(a[:10]) # means there is destination but there is no starting point so its starts from zero

rajinikant

In [22]:
print(a[::-1]) # from starting position to ending position please reverse everything
# : -> starting
# : -> ending
# -1 -> reverse

htnakinijar

In [23]:
a = 'Python is very powerful'
print(a[::-1])

lufrewop yrev si nohtyP

In [28]:
a = 'Artificial Intelligence'
print(a[3:21:3])

iclnlg

In [30]:
a = 'python'
print(a[2:5:2])

to

### string concept and methods:

In [31]:
# string is immutable : we cannot change the memory space:

In [32]:
mystring = 'pyhton java'
print(mystring)

pyhton java

In [33]:
# I want to add a character : I want to increase the memory space : is it possible:

# shift + enter to check complete info about python predefined methods:
# tab will show you about variables

In [34]:
# adding new char to string
mystring[11] = 'M'

TypeError: 'str' object does not support item assignment

In [35]:
# inserting is possible? 
mystring[4] = 'K'

TypeError: 'str' object does not support item assignment

In [36]:
# deleting is possible?

del mystring[5]

TypeError: 'str' object doesn't support item deletion

In [40]:
# we can replace char in string within memory space:
# using python string replace method:

mystring.replace('h' , 'k') # we are changing but not saving

'pykton java'

In [39]:
print(mystring)

pyhton java

In [44]:
a = 'python'
a.replace('t' , 'k')

'pykhon'

In [49]:
a = a.replace('t' , 'k')
print (a)

pykhon

#### string methods

In [1]:
a = 'I am working in ZestIot as Module lead' # 3 a's
a.replace('a' , '$')

'I $m working in ZestIot $s Module le$d'

In [2]:
a = 'I am working in ZestIot as Module lead' # first 2 a's
a.replace('a' , '$' , 2)

'I $m working in ZestIot $s Module lead'

In [3]:
# Capitalize

a = 'datascience'
a.capitalize()

'Datascience'

In [4]:
a = 'i am working in ZestIot as module lead'
a.capitalize()

'I am working in zestiot as module lead'

In [5]:
# count : it is going to count the number of times appearance
a = 'i am working in ZestIot as module lead'
a.count('a')

3

In [6]:
a = 'i am working in ZestIot as module lead am'
a.count('am')

2

In [7]:
# startswith and endswith will give us boolean value : True or False:

a = 'i am working in ZestIot as module lead'
a.startswith('I')

False

In [8]:
a = 'i am working in ZestIot as module lead'
a.endswith('d')

True

In [16]:
# index : will tell us index value of a character:
a = 'i am staying in usa in NewYork'
a.index('s', 10,19)

17

In [18]:
# Lower and Upper
# lower means capital to small letter
# upper means small letter to capital
a = 'i am staying in usa in NewYork'
a.lower()

'i am staying in usa in newyork'

In [19]:
a = 'i am staying in usa in NewYork'
a.upper()

'I AM STAYING IN USA IN NEWYORK'

In [20]:
# isupper and islower
# they return boolean values if they satisfy:

# checking whether each char is lower letter or not":
a = 'i am staying in usa in NewYork'
a.islower()

False

In [21]:
a = 'i am staying in usa in NewYork'
a.isupper()

False

In [22]:
# isalpha, isdecimal and isdigit, isalphanum, isnumerical:


# alnum = alphanumerical [numbers and characters]

a = 'kamal123'
a.isalnum()

True

In [23]:
# isalpha : checks everything is alphabets or not:

a.isalpha()

False

In [24]:
# isdecimal : checks everything is numbers(float) or not:
a.isdecimal()

False

In [25]:
isdigit : checks everything is numbers(integer) or not:
a.isdigit()

False

In [26]:
# title : each word starting letter will be converted into capital
a = 'i am working in ZestIot as Module lead'
a.title()

'I Am Working In Zestiot As Module Lead'

# List in Python

- List is mutable [we can change the memory space]
- List has its own methods : Ecah type has its own methods
- List will be represented with []
- List can accept any data type:

In [28]:
a = [10,20,30,50.0, 'python']
print(a)

[10, 20, 30, 50.0, 'python']

In [29]:
print(a[3])

50.0

In [30]:
print(a[4])

python

In [34]:
print(a[4][3])

h

In [35]:
print(a[-3])

30

In [36]:
print(a[-1])

python

In [38]:
print(a[-1][1])

y

In [39]:
# reverse
print(a[:])

[10, 20, 30, 50.0, 'python']

In [40]:
print(a[::-1])

['python', 50.0, 30, 20, 10]

In [41]:
print(a[2:])

[30, 50.0, 'python']

In [43]:
print(a[:4])

[10, 20, 30, 50.0]

In [44]:
# we need to prove that list is mutable:
# not only list any topic if we wnt to prve it is a mutable we need to come across 3 types:
      
      # check adding memory space
      # check replace in the same memory space
      # check delete memory space

In [45]:
a = [10,100,200.5,'data science']

In [46]:
print(a)

[10, 100, 200.5, 'data science']

In [47]:
# Manually will assign memory space 

a[4] = 1000 # manually we cannot create a memory space

IndexError: list assignment index out of range

In [48]:
# there is a method called append in list which gives permission to add memory space:
# append method will create memory space only at the end:

a.append(1000)

In [49]:
print(a)

[10, 100, 200.5, 'data science', 1000]

In [50]:
a.append(65)

In [51]:
print(a)

[10, 100, 200.5, 'data science', 1000, 65]

In [1]:
# insert method can be used to create the memory space wherever we want: 
a = [10,20.2, 'data science']
print (a)

[10, 20.2, 'data science']

In [2]:
a.insert(2, 'python')
print(a)

[10, 20.2, 'python', 'data science']

In [3]:
# replace

a[3] = 'Artificial Intelligence'

In [4]:
print(a)

[10, 20.2, 'python', 'Artificial Intelligence']

In [5]:
# delete memory space:
a = [10,20,30.5,'python']

del a [3]

In [6]:
print(a)

[10, 20, 30.5]

In [7]:
## finally list is mutable : can change its behaviour:

# Methods in List:

In [8]:
a = [100, 200, 300.56, 'raja', 'priya']
print(a)

[100, 200, 300.56, 'raja', 'priya']

In [9]:
a.clear() # it removes entire values in the list and make variable as empty: but clear cant delete variable

In [10]:
print(a)

[]

In [11]:
# delete
a = [100, 200, 300.56, 'raja', 'priya']
del a
print(a)

NameError: name 'a' is not defined

In [12]:
a = [100, 200, 300.56, 'raja', 'priya']

In [13]:
#copy:

b=a # or we can use b = a.copy()
print(a)
print(b)

[100, 200, 300.56, 'raja', 'priya']
[100, 200, 300.56, 'raja', 'priya']

In [14]:
# count:

a.count(100)

1

In [15]:
a = [100, 200, 300.56, 'raja', 'priya', 200]
a.count(200)

2

In [16]:
# extend - is going to add another list

a = [100, 200, 300.56, 'raja', 'priya', 200]

a.extend([1,2,3,4])

print(a)

[100, 200, 300.56, 'raja', 'priya', 200, 1, 2, 3, 4]

In [17]:
# index : used to find the index of value what we have given:

a = [100, 200, 300.56, 'raja', 'priya', 200]
a.index('raja')

3

In [18]:
a.index(200)

1

In [19]:
a.index(200, 3,6)

5

In [20]:
# pop: used to remove the last memory space and we can also remove memory space wherever we want 

a = [100, 200, 300.56, 'raja', 'priya', 200]
a.pop()

200

In [21]:
print(a)

[100, 200, 300.56, 'raja', 'priya']

In [22]:
a# remove wherever we want : using index

a.pop(3)

'raja'

In [24]:
print(a)

[100, 200, 300.56, 'priya']

In [25]:
# del
a = [10,20,30.4]
del a[2]
print(a)

[10, 20]

In [26]:
# pop
a = [10,20,30.4]
a.pop()
print(a)

[10, 20]

In [27]:
# remove : doesnt take index it will take directly the value:

a = [10,20,30.4]
a.remove(30.4)
print(a)

[10, 20]

In [30]:
# reverse:
a = [100, 200, 300.56, 'raja', 'priya', 200]
a.reverse()
print(a)

[200, 'priya', 'raja', 300.56, 200, 100]

In [31]:
a = [100, 200, 300.56, 'raja', 'priya', 200]
a[::-1]

[200, 'priya', 'raja', 300.56, 200, 100]

In [32]:
# sort: simple make them in ascending or descending order

# sort method will help us in doing this:
a = [10,9,4,2,17,5,44,98,0]
# make values in ascending order
a.sort()  # default it will be ascending order
print(a)

[0, 2, 4, 5, 9, 10, 17, 44, 98]

In [34]:
# but i want in desscending order:
a = [10,9,4,2,17,5,44,98,0]

a.sort(reverse=True) # for descending order use parameter in paranthesis

print(a)

[98, 44, 17, 10, 9, 5, 4, 2, 0]

In [35]:
a = ['a', 'b', 'g', 'e']
a.sort()
print(a)

['a', 'b', 'e', 'g']

In [36]:
a = ['all' , 'below' ,'cat', 'zebra', 'cat']
a.sort()
print(a)

['all', 'below', 'cat', 'cat', 'zebra']

In [37]:
# math operation in strings
# split function in strings
# join function in strings
# membership function in strings and list
# len , sum , max , min

# math operation in strings

In [39]:
10 > 9

True

In [38]:
value1 = 'ab'
value2 = 'AB'
print(value1 > value2)

True

In [41]:
chr(97)

'a'

In [42]:
chr(69) # chr converts number to its character

'E'

In [43]:
ord('A') # ord converts character to ascii number

65

In [49]:
# Membership function in string and list: it is a boolean outcome

a = [10,20,30.5,'python']
print(10 in a)
print(100 in a)
print('python' in a)
print(20 not in a)

True
False
True
False

In [51]:
# len , sum , max , min in strings:

a = 'python java'

# len = will give you the number of character
print(len(a))

11

In [55]:
# sum = addd each ascii value

a = 'abc'

In [52]:
a = 'abc'

# max = maximum value

print(max(a))

c

In [53]:
a = 'abc'
print(min(a))

a

In [56]:
# list:
a = [10,20,300.5,70]
print(len(a))

4

In [57]:
print(sum(a))

400.5

In [58]:
print(max(a))

300.5

In [59]:
print(min(a))

10

# split function :

In [61]:
# breaking into pieces 

a = ' i worked in microsoft for 1.5 years'
b = a.split() # break them into pieces default it will select as space
print(b)

['i', 'worked', 'in', 'microsoft', 'for', '1.5', 'years']

In [63]:
a = ' i worked in microsoft for 1.5 years'
a.split()

['i', 'worked', 'in', 'microsoft', 'for', '1.5', 'years']

In [65]:
a = ' i worked in microsoft for 1.5, years'
b = a.split(',') # we can specify our own split are
print(b)

[' i worked in microsoft for 1.5', ' years']

In [1]:
c = 'My name is kamal and my age is'
d = c.split()
print(d)

['My', 'name', 'is', 'kamal', 'and', 'my', 'age', 'is']

In [16]:
print(c)
d = c.split()
print(d)

My name is kamal and my age is
['My', 'name', 'is', 'kamal', 'and', 'my', 'age', 'is']

In [17]:
d.append(str(25))
print(d)

['My', 'name', 'is', 'kamal', 'and', 'my', 'age', 'is', '25']

In [21]:
# join function is used to join each word:

sol = ' '.join(d)
print(sol)

My name is kamal and my age is 25

In [23]:
a = ['i', 'am' , 'from' , 'india']
# if there is a list and inside the list there is a string and if you want to add them use join

sol = ' '.join(a)
print(sol)

i am from india

In [36]:
## question: capegemini interview

value = 'I.Love.programming.language'

# output = language.programming.love.I

b = value.split('.')
print(b)
c = b[::-1]
d = '.'.join(c)
print(d)

['I', 'Love', 'programming', 'language']
language.programming.Love.I

In [37]:
# end of strings and list.